$color_green: rgba(38, 166, 91, 1);
$color_green_faded: rgba(38, 166, 91, 0.2);
$color_done: $color_green;
$color_notdone: rgba(0, 0, 0, 0.1);

.p-communities {
  .community {
    padding: 20px;
    position: relative;
    color: black;
    background-color: #eee;

    a, a:hover {
      color: black;
    }

    &__content {
      position: relative;
      z-index: 2;
    }

    .progress {
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
    }
  }
}
