.c-datepicker {
  i {
    color: rgba(0, 0, 0, 0.3);
  }

  .title {
    display: inline-block;
    width: 150px;

  }

  .table {
    td, th {
      border: 0px;
      text-align: center;
    }

    tbody {
      td {
        &.today {
            background-color: green;
            color: white;
        }

        &.hover:hover {
          background-color: green;
          color: white;
        }
      }
    }
  }
}
