$color_today: #E1F5FE;
$color_today_indicator: #0288D1;
$cell_height: 25px;
$c_theme_2: #03A9F4;
$menu-width: 250px;

.sticky {
  position: fixed;
  top: 0px;
}

.sticky-body {
  margin-top: 55px;
}

.calendar {
  .table-header {
    background-color: $c_theme_2;
    color: white;
    z-index: 10;

    &.sticky {
      background-color: $c_theme_2;
      z-index: 10;
      width: calc(100% - #{$menu-width});
    }
  }

  .table-events {
    table-layout: fixed;
    margin-bottom: 0px;

    .event {
      overflow: hidden;

      &--title {
        font-size: 11px;
      }

      .attendees {
        img {
          width: 25px;
          height: 25px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }

      border-left: 4px solid rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: 3px 5px;
      color: white;
      height: 60px;
      position: absolute;
      top: 0px;
      left: 0px;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }

    thead {
      tr {
        th:first-child {
          width: 50px;
          padding-bottom: 0.9rem;
        }

        th {
          text-align: center;
          border-top: 0px;
          box-shadow: 0px 0px 1px 1px rgba(150, 150, 150 ,0.1);

          &.today {
            font-weight: bold;
          }
        }
      }
    }

    tbody {
      tr {
        height: $cell_height;
      }

      td {
        border-right: 1px solid rgba(30, 30, 30, 0.1);
        font-size: 10px;
        padding: 2px 12px;
        position: relative;

        &.today {
          background-color: $color_today;
        }

        &.now {
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $color_today_indicator;
            position: absolute;
            top: -2px;
            left: 0px;
            z-index: 100;
            opacity: 0.5;
          }
        }
      }

      td:first-child {
        width: 50px;
      }

      tr:nth-child(odd) {
        td {
          &.now {
            border-top: 2px solid $color_today_indicator;
          }
        }
      }

      tr:nth-child(even) {
        td {
          border-bottom: 1px solid rgba(30, 30, 30, 0.1);
          border-top: 1px dotted rgba(30, 30, 30, 0.1);

          &.now {
            border-bottom: 2px solid $color_today_indicator;
          }
        }
      }
    }
  }
}

.create-event {
  input, textarea {
    margin-top: 5px;
  }
}

@media (max-width: 48em) {
  .calendar {
    .table-header {
      &.sticky {
        background-color: $c_theme_2;
        width: 100%;
      }
    }
  }

  .header-date {
    display: none;
  }
}
