$color_today: rgba(46, 204, 113, 0.1);
$color_today_indicator: rgba(46, 204, 113, 1);
$cell_height: 25px;

.calendar {
  .table-events {
    margin-bottom: 0px;

    .event {
      overflow: hidden;

      &--title {
        font-size: 11px;
      }

      .attendees {
        img {
          width: 25px;
          height: 25px;
          margin-right: 5px;
          margin-top: 5px;
        }
      }

      border-left: 4px solid rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: 3px 5px;
      color: white;
      height: 60px;
      position: absolute;
      top: 0px;
      left: 0px;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }

    thead {
      tr {
        th:first-child {
          padding-bottom: 0.9rem;
        }

        th {
          text-align: center;
          border-top: 0px;

          &.today {
            font-weight: bold;
          }
        }
      }
    }

    tbody {
      tr {
        height: $cell_height;
      }

      td {
        border-right: 1px solid rgba(30, 30, 30, 0.1);
        font-size: 10px;
        padding: 2px 12px;
        position: relative;

        &.today {
          background-color: $color_today;
        }

        &.now {
          border-top: 2px solid $color_today_indicator;
        }
      }

      td:first-child {
        width: 30px;
      }

      tr:nth-child(odd) {
        td {
          border-bottom: 0px;
          border-top: 0px;

          &.now {
            border-top: 2px solid $color_today_indicator;
          }
        }
      }

      tr:nth-child(even) {
        td {
          border-bottom: 1px solid rgba(30, 30, 30, 0.1);
          border-top: 1px dotted rgba(30, 30, 30, 0.1);

          &.now {
            border-bottom: 2px solid $color_today_indicator;
          }
        }
      }
    }
  }
}

.create-event {
  input, textarea {
    margin-top: 5px;
  }
}
