$color_green: rgba(63, 195, 128, 0.6);
$color_grey: #e5e5e5;
$color_done: $color_green;
$color_notdone: rgba(0, 0, 0, 0.1);
$colors_flat_3: rgb(25, 181, 254);

.c-verticaltimeline {
  .event-row {
    .c-card-event {
      position: relative;
      z-index: 2;
    }

    .left {
      .triangle {
        right: -5px;
      }
    }

    .triangle {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      transform: rotate(45deg);
    }

    .mid {
      height: 150px;

      display: flex;
      justify-content: center;

      .dot {
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background-color: #5bc0de;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -3px;
        box-shadow: 0px 0px 0px 5px white;
      }

      .line {
        width: 4px;
        height: 100%;

        background-color: $colors_flat_3;

        &--top {
          height: 50%;
        }

        &--bottom {
          height: 50%;
          align-self: flex-end;
        }
      }
    }

    .right {
      .triangle {
        left: -5px;
      }
    }
  }
}

.p-profile {
  padding: 50px;
  padding-top: 30px;

  .name {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 30px;
  }
}

.goal {
  margin-bottom: 10px;
  text-align: center;
  padding: 20px 10px;

  &--not-done {
    border: 1px dashed $color_grey;
    opacity: 0.5;

    .icon {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  &--done {
    border: 1px solid $color_green;
    opacity: 1;

    .icon {
      color: $color_green;
    }
  }
}

.u-flex-ctr {
  display: flex;
  justify-content: center;
}
