@import 'variables';
@import 'utils';

@font-face {
  font-family: 'Debby';
  src: url('./fonts/Debby.otf');
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('./fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'GrandHotel';
  src: url('./fonts/GrandHotel-Regular.otf');
}

/* VARIOUS BOOTSTRAP RESETS */
a {
  color: white;

  &:hover {
    color: $colors_flat_2;
    text-decoration: none;
  }
}

.event {
  $border-width: 5px;
  $border-style: solid;

  &--overlap {
    &-1 {
      width: 50% !important;
    }
  }

  &--priority {
    &-1 {
      border-left: $border-width $border-style $c_priority_0;
      background-color: $c_priority_0;
    }

    &-2 {
      border-left: $border-width $border-style $c_priority_1;
      background-color: $c_priority_1;
    }

    &-3 {
      border-left: $border-width $border-style $c_priority_2;
      background-color: $c_priority_2;
    }
  }
}
