$c_priority_0: #67809F;
$c_priority_1: #F5AB35;
$c_priority_2: #EF4836;
$c_theme_1: green;
$colors_flat_1: rgb(108, 122, 137);
$colors_flat_2: rgb(52, 152, 219);
$colors_flat_3: rgba(27, 188, 155, 1);
$colors_flat_4: rgb(108, 122, 137);

$color_nero: rgb(30, 30, 30);
$color_nero_inverse: white;

$color_eucalyptus: rgb(38, 166, 91);
$color_eucalyptus_inverse: white;

$border_radius_bottom_left: 0px 0px 0px .25rem;
