@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

$colors_flat_1: rgb(108, 122, 137);
$colors_flat_2: rgb(52, 152, 219);
$colors_flat_3: rgba(27, 188, 155, 1);
$colors_flat_4: rgb(108, 122, 137);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* VARIOUS BOOTSTRAP RESETS */
.container-fluid {
  padding: 0px;
}

.jumbotron {
  border-radius: 0px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* APP */
.pad-top {
  padding-top: 90px;
}

/* UTILITIES */
.u- {
  &clearfix {
    clear:both;
  }

  &hidden {
    display: none;
  }

  &fl {
    float: left;
  }

  &fr {
    float: right;
  }

  &hz-ctr {
    text-align: center;

    &:after {
      display: '';
      content: '';
      clear: both;
    }
  }

  &c-pointer {
    cursor: pointer;
  }

  &p-0 {
    padding: 0px !important;
  }

  &pl-half {
    padding-left: 15px;
  }

  &m-0 {
    margin: 0px;
  }

  &mt-full {
    margin-top: 30px;
  }

  &mt-half {
    margin-top: 10px;
  }

  &mb-full {
    margin-bottom: 30px;

    &-2 {
      margin-bottom: 60px;
    }
  }

  &mb-half {
    margin-bottom: 15px;
  }
}

/* FONTS */
.f- {
  &bold {
    font-weight: 800;
  }

  &light {
    font-weight: 300;
  }
}
