@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

$colors_flat_1: rgb(108, 122, 137);
$colors_flat_2: rgb(52, 152, 219);
$colors_flat_3: rgba(27, 188, 155, 1);
$colors_flat_4: rgb(108, 122, 137);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container-fluid {
  padding: 0px;
}

.jumbotron {
  border-radius: 0px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* <LOGIN> */
.login {
  padding: 50px;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('/src/assets/images/background1.jpg');
  background-size: cover;
  color: white;

  .jumbotron {
    background-color: transparent;
    color: white;
    box-shadow: none;
    height: 200px;
  }

  &__form {
    .input-group {
      margin-bottom: 10px;
    }

    .social {
      font-size: 30px;
      padding-top: 5px;

      i {
        margin-right: 10px;
      }
    }
  }
}

/* <HOME> */
.home {
  margin-top: -65px;

  .jumbotron {
    height: 100vh;
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('/src/assets/images/background.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    position: relative;

    .arrow {
      position: absolute;
      left: 50%;
      bottom: 0px;

      transform: translate(-50%, -50%);

      text-align: center;

      p {
        margin-bottom: 0px;
      }
    }
  }

  .c- {
    &home- {
      &video, &semifull, &contact, &register {
        margin-left: -100px;
        margin-right: -100px;
        padding: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      &register {
        background-color: rgb(108, 122, 137);
        color: white;
      }

      &video {
        background-color: rgb(52, 152, 219);
        color: white;
      }

      &semifull {
        background-color: rgba(27, 188, 155, 1);
        color: white;
        display: flex;
        justify-content: center;
        .col-md-3 {
          flex: 1;

          img {
            width: 100%;
          }
        }

        .col-md-9 {
          flex: 1;
        }
      }

      &contact {
        background-color: rgb(108, 122, 137);
        color: white;
      }

      &creators {
        img {
          width: 100%;
          max-width: 150px;
          border-radius: 100%;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }

        h5 {
          margin-top: 10px;
        }

      }
      &reviews {
        .row {
          margin-bottom: 10px;
        }

        h5 {
          margin-bottom: 0px;
          padding-top: 15px;
        }

        .col-xs-12 {
          display: flex;
          align-items: center;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          margin-right: 15px;
        }
      }

      &social {
        a {
          color: white;
        }

        .circle {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background-color: rgb(88, 102, 117);
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
      }
    }
  }
}


/* UTILITIES */
.u- {
  &fl {
    float: left;
  }

  &fr {
    float: right;
  }

  &hz-ctr {
    text-align: center;

    &:after {
      display: '';
      content: '';
      clear: both;
    }
  }

  &m-0 {
    margin: 0px;
  }

  &mt-full {
    margin-top: 30px;
  }

  &mt-half {
    margin-top: 10px;
  }

  &mb-full {
    margin-bottom: 30px;
  }

  &mb-half {
    margin-bottom: 15px;
  }
}

/* FONTS */
.f- {
  &bold {
    font-weight: 800;
  }

  &light {
    font-weight: 300;
  }
}

/* COMPONENTS */
.c- {
  &home- {

  }

  &three-columns {
    text-align: center;
  }

  &timeline {
    height: 20px;

    .description {
      width: 200px;
      margin-left: -100px;
      margin-top: 25px;
      text-align: center;
      color: black;
      visibility: hidden;
    }

    .progress {
      height: 8px;
      margin-bottom: 0px;
    }

    .dots {
      $dotHeight: 12px;
      position: relative;
      margin-top: -$dotHeight / 2 - $dotHeight / 3;

      .dot:hover > .description {
        visibility: visible;
      }

      .dot {
        cursor: pointer;
        width: $dotHeight;
        height: $dotHeight;
        position: absolute;
        top: 0px;

        @mixin dot-left($hour) {
          left: calc(100%/24 * #{$hour});
        }

        &-1 { @include dot-left(1); } &-2 { @include dot-left(2); } &-3 { @include dot-left(3); } &-4 { @include dot-left(4); } &-5 { @include dot-left(5); } &-6 { @include dot-left(6); } &-7 { @include dot-left(7); } &-8 { @include dot-left(8); } &-9 { @include dot-left(9); } &-10 { @include dot-left(10); } &-11 { @include dot-left(11); } &-12 { @include dot-left(12); } &-13 { @include dot-left(13); } &-14 { @include dot-left(14); } &-15 { @include dot-left(15); } &-16 { @include dot-left(16); } &-17 { @include dot-left(17); } &-18 { @include dot-left(18); } &-19 { @include dot-left(19); } &-20 { @include dot-left(20); } &-21 { @include dot-left(21); } &-22 { @include dot-left(22); } &-23 { @include dot-left(23); } &-24 { @include dot-left(24); }
      }

      .circle {
        box-shadow: 0 0 0 4px white;
        position: absolute;
        top: 0px;
        background-color: #5bc0de;
        width: $dotHeight;
        height: $dotHeight;
        border-radius: $dotHeight;
      }

    }
  }
}

.push {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section {
  padding: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.section-padding {
  padding: 50px;
}

.display-6 {
  font-size: 2.5rem;
  font-weight: 300;
}

.navbar {
  padding: 1rem 2rem;
  a {
    color: white;
  }
}

.today {
  padding-top: 65px;
}

.card-block {
  padding: 0px;
  //padding: 1.25rem;
}

iframe {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.pad-top {
  padding-top: 90px;
}

.calendar {
  .table {
    .event {
      padding: 10px;
      width: 100%;
      background-color: $colors_flat_3;
      color: white;
      height: 60px;
      position: absolute;
      top: 0px;
      left: 0px;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }

    thead {
      tr {
        th:first-child {
          padding-bottom: 0.9rem;
        }

        th {
          text-align: center;
          border-top: 0px;

          &.today {
            font-weight: bold;
          }
        }
      }
    }

    tbody {
      tr {
        height: 20px;
      }

      td {
        border-right: 1px solid rgba(30, 30, 30, 0.1);
        font-size: 10px;
        padding: 2px 12px;
        position: relative;

        &.today {
          background-color: rgba(107, 185, 240, 0.3);
        }

        &.now {
          border-top: 2px solid pink;
        }
      }

      td:first-child {
        width: 30px;
      }

      tr:nth-child(odd) {
        td {
          border-bottom: 0px;
          border-top: 0px;
        &.now {
          border-top: 3px solid pink;
        }
        }
      }

      tr:nth-child(even) {
        td {
          border-bottom: 1px solid rgba(30, 30, 30, 0.1);
          border-top: 1px dotted rgba(30, 30, 30, 0.1);
        &.now {
          border-bottom: 3px solid pink;
        }
        }
      }
    }
  }
}
