$colors_flat_3: blue;

.c-timeline {
  height: 20px;

  .description {
    width: 200px;
    margin-left: -100px;
    margin-top: 25px;
    text-align: center;
    color: black;
    visibility: hidden;
  }

  .progress {
    height: 8px;
    margin-bottom: 0px;
  }

  .dots {
    $dotHeight: 12px;
    position: relative;
    margin-top: -$dotHeight / 2 - $dotHeight / 3;

    .dot:hover > .description {
      visibility: visible;
    }

    .dot {
      cursor: pointer;
      width: $dotHeight;
      height: $dotHeight;
      position: absolute;
      top: 0px;

      &.faded > .circle {
        box-shadow: inset 0 0 0 $dotHeight rgba(30, 30, 30, 0.2), 0 0 0 4px white;
        background-color: white;
      }

      &.current > .circle {
        background-color: $colors_flat_3;
      }

      @mixin dot-left($hour) {
        left: calc(100%/24 * #{$hour});
      }

      &-1 { @include dot-left(1); } &-2 { @include dot-left(2); } &-3 { @include dot-left(3); } &-4 { @include dot-left(4); } &-5 { @include dot-left(5); } &-6 { @include dot-left(6); } &-7 { @include dot-left(7); } &-8 { @include dot-left(8); } &-9 { @include dot-left(9); } &-10 { @include dot-left(10); } &-11 { @include dot-left(11); } &-12 { @include dot-left(12); } &-13 { @include dot-left(13); } &-14 { @include dot-left(14); } &-15 { @include dot-left(15); } &-16 { @include dot-left(16); } &-17 { @include dot-left(17); } &-18 { @include dot-left(18); } &-19 { @include dot-left(19); } &-20 { @include dot-left(20); } &-21 { @include dot-left(21); } &-22 { @include dot-left(22); } &-23 { @include dot-left(23); } &-24 { @include dot-left(24); }
    }

    .circle {
      box-shadow: 0 0 0 4px white;
      position: absolute;
      top: 0px;
      background-color: #5bc0de;
      width: $dotHeight;
      height: $dotHeight;
      border-radius: $dotHeight;
    }

  }
}
